<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='forgot/style.css')}}" />
</head>
<body>
    {% for message in get_flashed_messages() %}
    <p>{{ message }}</p>
    {% endfor %}
    <div class="limiter">
        <form method="post" action="/check">
            <label for="regi">Enter registered Email address</label>
            <input type="text" name="register">
            <div class="contain_btn">
                <button class="btn" type="submit"> Send OTP</button>
            </div>
        </form>
    </div>
</body>
</html>